@mixin icon { background-image: url(~sprite.png);background-size: 4.133333333333334rem 4.133333333333334rem;}
@mixin icon-add { width: 1.3333333333333333rem; height: 1.3333333333333333rem; background-position: 0rem 0rem; }
@mixin icon-edit { width: 1.3333333333333333rem; height: 1.3333333333333333rem; background-position: -1.4rem 0rem; }
@mixin icon-message { width: 1.3333333333333333rem; height: 1.3333333333333333rem; background-position: 0rem -1.4rem; }
@mixin icon-post { width: 1.3333333333333333rem; height: 1.3333333333333333rem; background-position: -1.4rem -1.4rem; }
@mixin icon-return { width: 1.3333333333333333rem; height: 1.3333333333333333rem; background-position: -2.8rem 0rem; }
@mixin icon-scanning { width: 1.3333333333333333rem; height: 1.3333333333333333rem; background-position: -2.8rem -1.4rem; }
@mixin icon-search { width: 1.3333333333333333rem; height: 1.3333333333333333rem; background-position: 0rem -2.8rem; }
@mixin icon-setting { width: 1.3333333333333333rem; height: 1.2rem; background-position: -2.8rem -2.8rem; }
@mixin icon-user { width: 1.3333333333333333rem; height: 1.3333333333333333rem; background-position: -1.4rem -2.8rem; }